<div class="login-page">
  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 *ngIf="show">Sign In</h3>
        <h3 *ngIf="!show">Sign Up</h3>
        <!-- <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div> -->
      </div>
      <div class="card-body">
        <div class="mt-15">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input [(ngModel)]="user_email" type="text" class="form-control" placeholder="Email">
            
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
          </div>
          <!-- <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div> -->
          <div class="form-group text-center mt-15">
            <input *ngIf="show" type="submit" value="Login" (click)="logIn()" class="btn login_btn">
            <input *ngIf="!show" type="submit" value="SignUp" (click)="register()" class="btn  login_btn">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div *ngIf="show" class="d-flex justify-content-center links">
          Don't have an account?<a class="color-blue" (click)="SignUP()"><b>Sign Up</b></a>
        </div>
        <div *ngIf="!show" class="d-flex justify-content-center links">
          Already have an account?<a class="color-blue" (click)="SignIn()"><b>Sign In</b></a>
        </div>
        <div *ngIf="show" class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>